*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body {
    background-color: black; 
    color: white;
}
/* General css */
.container {
    /* max-width: 1440px; */
    padding: 0 5rem;
    margin: 0 auto;
}
:root {
    --bg-color: white;
    --bg-color1:rgb(231, 202, 12);
    --bg-color2:rgb(222, 205, 92);
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: .8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}
/********************************Start of Header****************************************************************/
header {
    background-color:rgb(0, 0, 0);
    position: fixed;
    padding: 1rem 0rem;
    /* height: 6rem; */
    /* z-index: 1000; */
    /* border: 1px solid white; */
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head__left {
    display: flex;
    /* justify-content:space-between ; */
    gap: 4rem;
    align-items: center;
}
.head__navigation {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 4rem;
    align-items: center;
}

.head__left img {
 max-width: 15%;
}
.head__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav ul li {
    position: relative;
    font-size: 1.2rem;
}
nav ul li a {
    color: white;
    line-height: 2.5rem;
    font-size: 1.1rem;
}
nav ul ul {
    position: absolute;
    min-width:15rem;
    top: 50px;
    display: none;
}
nav ul li:hover >ul{
    display: block;
    background-color: black;
    padding-left: 2rem;

}
nav ul li i:hover {
    /* transition-duration: 1s; */
    transform: rotate(180deg);
}
.head .price:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}
.btn--yellow {
    background-color: var(--bg-color2);
}
.btn--yellow:hover {
    background-color: var(--bg-color1);
}
.btn--black {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.btn--black:hover{
    background-color:var(--bg-color2);
    color: black;
    border: none;
}

/***********************************************FIRST SECTION****************************************************/
.first_section {
    height: 100vh;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    gap: 7rem;
    padding-top: 12rem;
}
/* .first_section__left
{
    max-width: 60%; 
     border: 1px solid white;
} */
.first_section__left h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.first_section__left h1 span {
    /* background-color:#f64942; */
    background-image: linear-gradient(90deg,#f64942,#ef90a4,#5b95bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first_section__left p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 4rem;
}
.first_section__mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;
    padding: 1rem;
    background-color: rgb(37, 37, 37);
    border-radius: 27px;
}
.btn--mail{
    padding: .7rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px; 
    background-color: var(--bg-color2);
}
.btn--mail:hover {
background-color: var(--bg-color1);
}
.mail__text {
    padding-left: 1rem;
    font-size: 1rem;
    color: gray;
}
.mail__text input {
    background-color:rgb(37, 37, 37) ;
    padding-left: 1rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    color: white;
}
.first_section__right img {
    max-width: 100%;
    max-height: 60rem;
}