*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body {
    background-color: black; 
    color: white;
    width: 100%;
}
/* General css */
.container {
    /* max-width: 1440px; */
    padding: 0 3rem;
    margin: 0 auto;
}
:root {
    --bg-color: white;
    --bg-color1:rgb(231, 202, 12);
    --bg-color2:rgb(222, 205, 92);
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    padding: .8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
}
/********************************Start of Header****************************************************************/
header {
    background:rgb(0, 0, 0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0);
    /* box-shadow: rgb(255 255 255 / 0%) 0px 1px 1px inset, rgb(0 0 0 / 0%) 0px -1px 3px inset; */
    backdrop-filter: blur(24px);
    position: fixed;
    top: 0;
    padding: 1rem 0rem;
    z-index: 1000;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head__left {
    display: flex;
    /* justify-content:space-between ; */
    gap: 4rem;
    align-items: center;
}
.head__navigation {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.head__left img {
 max-width: 15%;
 
}
.head__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
nav ul li {
    position: relative;
    font-size: 1.2rem;
}
nav ul li a {
    color: white;
    line-height: 2.5rem;
    font-size: 1.1rem;
}
.drop_box {
    display: none;
}

nav ul li:hover .drop_box {
    display: block;
    position: absolute;
    min-width:15rem;
    top: 25px; 
    /* if increase the top then dropdown menu won't stay after hover as it should be placed within the header part */
    left: -60px;
    background-color: black;
    padding: 1.7rem;
    /* border: 1px solid white; */
}
nav ul li:hover .drop_box ul {
    display: block;
}
nav ul li i:hover {
    transform: rotate(180deg);
}
.head .price:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}
.btn--yellow {
    background-color: var(--bg-color2);
}
.btn--yellow:hover {
    background-color: var(--bg-color1);
}
.btn--black {
    background-color: black;
    color: white;
    border: 1px solid white;
}
.btn--black:hover{
    background-color:var(--bg-color2);
    color: black;
    border: none;
}

/***********************************************FIRST SECTION****************************************************/
.first_section {
    /* height: 100vh; */
    display: flex;
    justify-content: center; 
    gap: 3.5rem;
}
.first_section__left{
    padding-top: 12rem;
    max-width: 35%;
}
.first_section__left h1 {
    font-size: 4.5rem;
    line-height: 4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.first_section__left h1 span {
    background-image: linear-gradient(90deg,#f64942,#ef90a4,#5b95bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.first_section__left p{
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 4rem;
}
.first_section__mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    padding: 1rem;
    background-color: rgb(37, 37, 37);
    border-radius: 27px;
}
.btn--mail{
    padding: .5rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px; 
    background-color: var(--bg-color2);
}
.btn--mail:hover {
background-color: var(--bg-color1);
}
.mail__text {
    padding-left: 1rem;
    font-size: 1rem;
    color: gray;
}
.mail__text input {
    background-color:rgb(37, 37, 37) ;
    padding-left: 1rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    color: white;
}

.first_section__right img {
    max-width: 100%;
    padding-top: 10rem;
    position: relative;
    animation: entry 1s ease-in 0s 1 forwards,
               up_down 2s ease-in-out 0s infinite forwards;
    
}
@keyframes entry {
    0% {
       left: 100vw; 
    }
    100% {
        left: 3vw;
    }

} 
@keyframes up_down {
    0% {
        top: 0rem;
    }
    50% {
        top: 1rem;
    }
    100% {
        top: 0rem;
    }
}
/******************************************List of Icons******************************************************/
.get_taskade {
    max-width: 80%;
    margin: 10rem auto;
    border-radius: 25px;
    height: 40vh;
    background-color: rgba(32, 31, 31, 0.6);
    text-align: center;
    position: relative;
}
.get_taskade h1 {
    padding: 4rem 0rem 2rem 0;
    font-size: 1.2rem;
}
.get_taskade img {
    position: absolute;
    left:-30px;
    bottom: -20px;
}
.app_icons {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2rem;
    align-items: center;
    padding: 0rem 2rem;
}
.app_icons_three_pair {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.app_icons__content p{
   padding-top: 1rem;
   font-size: .9rem;
}
.app_icons__outer {
    padding: 1.5rem;
    background-color: rgb(98, 103, 103,0.3);
    border-radius: 25px;
}
.app_icons .fa-brands {
    /* color: white; */
    font-size: 1.5rem;
}
.green {
    color: rgb(45, 189, 45);
}
.blue{
    color: deepskyblue;
}
.red{
    background-image:linear-gradient(#f64942,#ec928f) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.windows_yellow{
    background-image:linear-gradient(#f64942,yellow,green,skyblue) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.yellow {
    color: yellow;
}
.greenyellow{
    background-image:linear-gradient(#f64942,yellow,green) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orangered{
    background-image:linear-gradient(rgb(249, 201, 113),#e52d26) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skyblue{
    background-image:linear-gradient(rgb(1, 110, 1),skyblue,rgb(6, 81, 110)) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}















/*********************************************MEDIA QUERY for tab************************************************/
.head__right__icon {
    display: none;
    color: white;
    font-size: 2rem;
}



@media (min-width:0px) and (max-width:1000px)
{
    .head nav, .head__right .btn--black, .first_section__mail, .get_taskade img {
        display: none;
    }
    .head__left img {
        max-width: 25%;
       }
       .head__right__icon {
        display: block;
       }
    .container {
        padding: 0 1rem;
    }
    .first_section {
        flex-direction: column;
        text-align: center;
        gap: 0;
    }
    .first_section__left {
        padding-top: 10rem;
        max-width: 100%;
    }
    .first_section__right img {
        padding-top: 0rem;
    }
    .first_section__left h1 {
        font-size: 2.8rem;
        line-height: 3rem;
    }
    .get_taskade {
         background-color: black;
         padding: 0;
         max-width: 100%;
    }
    .app_icons_three_pair {
        gap: 3rem;
        flex-wrap: wrap;
    }
    .app_icons {
       flex-direction: column;
       flex-wrap: wrap;
    }
}



@media (min-width:0px) and (max-width:600px)
{
    /* .first_section__left {
        padding-top: 17rem;
        max-width: 100%;
    } */
    .head__left img {
        max-width: 40%;
       }
}